@import url("https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Sedan", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-color: #eeee;
  display: flex;
  padding: 0 40px;
  align-items: center;
  position: sticky;
  justify-content: space-between;
}

#navbar {
  display: flex;
  list-style: none;
  height: 5vh;
  align-items: center;
  position: relative;
}
#navbar li {
  position: relative;
}
#navbar li a {
  text-decoration: none;
  color: #373a40;
  padding: 0 50px;
  font-size: 14px;
  font-weight: 400;
}

#navbar li a:hover {
  color: #dc5f00;
  transition: 0.1s ease;
  font-size: 16px;
}

.Reservation a {
  text-decoration: none;
  color: #373a40;
}
.Logo a {
  text-decoration: none;
  color: #373a40;
}

#content {
  margin-top: -18px;
  background-image: url("ui\ web/image/Backgroun.jpg");
  background-size: cover;
  height: 110vh;
}

.text-1 h3 {
  color: #eeee;
  margin-left: 110px;
  padding-top: 70px;
  margin-bottom: 0;
}
.text-2 h3 {
  color: #eeee;
  margin-left: 1300px;
  margin-top: -25px;
}
.text-3 h3 {
  color: #eeee;
  margin-top: 420px;
  padding-left: 110px;
}
.text-4 h3 {
  color: #eeee;
  margin-left: 1325px;
  margin-top: -50px;
}

.image {
  margin-left: 80px;
}
.image-1 {
  margin-top: 100px;
  margin-left: 280px;
}
.image-1 img {
  height: 70vh;
  width: auto;
}
.image-2 {
  margin-left: 720px;
  margin-top: -512px;
}
.image-2 img {
  height: 30vh;
  width: auto;
}
.image-3 {
  margin-top: -118px;
  margin-left: 999px;
}
.image-3 img {
  width: auto;
  height: 13vh;
}
.image-1 h1 {
  margin-top: -605px;
  margin-left: -150px;
  font-size: 14vh;
  color: #eeee;
  font-weight: 100;
}
.image-1 h2 {
  margin-left: 300px;
  font-size: 15vh;
  color: #eeee;
  font-weight: 100;
}

.image-1 .circle img {
  height: 15vh;
  margin-top: -180px;
  margin-left: 650px;
}
.image-1 h3 {
  color: #eeee;
  margin-left: 430px;
  font-weight: 100;
  margin-top: -120px;
  font-size: 3vh;
}

/* about section */
#about-us .abt-txt {
  height: 78px;
  position: relative;
  align-content: center;
  margin-left: 40px;
}

#about-us .abt-txt p {
  font-size: large;
}

#about-us .Banner-About {
  overflow-x: hidden;
}
#about-us .Banner-About .banner-wrap {
  display: flex;
  width: 500%;
}
#about-us .Banner-About img {
  height: 40vh;
  width: 100%;
  object-fit: cover;
  animation: slide 10s infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}
#about-us .description-about {
  padding: 30px 200px 38px 200px;
}
#about-us .description-about p {
  font-size: 25px;
  word-spacing: 8px;
  text-align: center;
}
#about-us .line {
  background-color: black;
  height: 1px;
  margin-top: 4rem;
}
#menu {
  height: 110vh;
}
@media (max-width: 799px) {
  #content {
    height: 95vh;
  }
  .text-1 h3 {
    padding-top: 70px;
    margin-bottom: 0;
    font-size: 1rem;
    margin-left: 28px;
  }
  .text-2 h3 {
    margin-left: 640px;
    font-size: 1rem;
    margin-top: -21px;
  }
  .text-3 h3 {
    margin-top: 380px;
    margin-left: -80px;
    font-size: 1rem;
  }
  .text-4 h3 {
    margin-left: 670px;
    margin-top: -50px;
    font-size: 1rem;
  }

  .image {
    margin-left: 20px;
  }
  .image-1 {
    margin-top: 100px;
    margin-left: 120px;
  }
  .image-1 img {
    height: 48vh;
    width: auto;
  }
  .image-2 {
    margin-left: 420px;
    margin-top: -395px;
  }
  .image-2 img {
    height: 15vh;
    width: auto;
  }
  .image-3 {
    margin-top: -92px;
    margin-left: 563px;
  }
  .image-3 img {
    width: auto;
    height: 10vh;
  }
  .image-1 h1 {
    margin-top: -400px;
    margin-left: -90px;
    font-size: 9vh;
  }
  .image-1 h2 {
    margin-left: 200px;
    font-size: 10vh;
  }

  .image-1 .circle img {
    height: 12vh;
    margin-top: -50px;
    margin-left: 400px;
  }
  .image-1 h3 {
    margin-left: 40px;
    margin-top: -120px;
    font-size: 3vh;
  }

  /* About */
  #about-us {
    height: 100vh;
  }
  #about-us .description-about {
    padding: 20px 100px 38px 100px;
  }
  #about-us .description-about p {
    font-size: 18px;
    word-spacing: 3px;
  }
}
