@import url("https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap");
html {
  scroll-behavior: smooth;
  background-color: #eeee;
}
body {
  font-family: "Sedan", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-color: #eeee;
  display: flex;
  padding: 0 40px;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 95%;
  justify-content: space-between;
  margin-top: 18px;
}
#navbar {
  display: flex;
  list-style: none;
  height: 5vh;
  align-items: center;
}
#navbar li {
  position: relative;
}
#navbar li a {
  text-decoration: none;
  color: black;
  padding: 0 50px;
  font-size: 14px;
  font-weight: 400;
}

#navbar li a:hover {
  color: #dc5f00;
  transition: 0.1s ease;
  font-size: 16px;
}
.sidebar i {
  display: none;
}
.Reservation a {
  text-decoration: none;
  color: #373a40;
}
.Logo a {
  text-decoration: none;
  color: #373a40;
}

#content {
  margin-top: -18px;
  background-image: url("background/Backgroun.jpg");
  background-size: cover;
  height: 120vh;
  position: relative;
}
#content .hero {
  padding-top: 40px;
}

.text-1 h3 {
  color: #eeee;
  margin-left: 110px;
  padding-top: 70px;
  margin-bottom: 0;
}
.text-2 h3 {
  color: #eeee;
  margin-left: 1300px;
  margin-top: -25px;
}
.text-3 h3 {
  color: #eeee;
  margin-top: 420px;
  padding-left: 110px;
}
.text-4 h3 {
  color: #eeee;
  margin-left: 1325px;
  margin-top: -50px;
}

.image {
  margin-left: 80px;
}
.image-1 {
  margin-top: 100px;
  margin-left: 280px;
}
.image-1 img {
  height: 70vh;
  width: auto;
}
.image-2 {
  margin-left: 720px;
  margin-top: -512px;
}
.image-2 img {
  height: 30vh;
  width: auto;
}
.image-3 {
  margin-top: -118px;
  margin-left: 999px;
}
.image-3 img {
  width: auto;
  height: 13vh;
}
.image-1 h1 {
  margin-top: -605px;
  margin-left: -150px;
  font-size: 14vh;
  color: #eeee;
  font-weight: 100;
}
.image-1 h2 {
  margin-left: 300px;
  font-size: 15vh;
  color: #eeee;
  font-weight: 100;
}

.image-1 .circle img {
  height: 15vh;
  margin-top: -180px;
  margin-left: 650px;
}
.image-1 h3 {
  color: #eeee;
  margin-left: 430px;
  font-weight: 100;
  margin-top: -120px;
  font-size: 3vh;
}

/* about section */
#about-us .abt-txt {
  height: 78px;

  align-content: center;
  margin-left: 40px;
}

#about-us .abt-txt p {
  font-size: large;
}

#about-us .Banner-About {
  overflow-x: hidden;
}
#about-us .Banner-About .banner-wrap {
  display: flex;
  width: 500%;
}
#about-us .Banner-About img {
  height: 40vh;
  width: 100%;
  object-fit: cover;
  animation: slide 10s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}
#about-us .description-about {
  padding: 30px 200px 38px 200px;
}
#about-us .description-about p {
  font-size: 25px;
  word-spacing: 8px;
  text-align: center;
}
#about-us .line {
  background-color: black;
  height: 1px;
  margin-top: 4rem;
}

/* Menu */
#menu {
  height: 150vh;
  padding-top: 20px;
}
#menu .menu-title {
  font-size: 70px;
  margin-left: 8rem;
  margin-top: 5rem;
}
#menu .see-all {
  margin-left: 45rem;
  margin-top: -120px;
  font-size: 15px;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  text-align: center;
  width: 70px;
  height: 30px;
}
#menu .see-all a {
  text-decoration: none;
  color: #373a40;
  font-size: 11px;
}
#menu .menu-list-title {
  padding-left: 12rem;
  margin-top: -40rem;
}
#menu .menu-list {
  padding-left: 12rem;
}
#menu .menu-image {
  margin-left: 850px;
}
#menu .menu-image img {
  width: 80%;
  height: 80vh;
  margin-top: -50px;
}
#menu .menu-list-title span {
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-bottom: 0;
  margin-right: 65px;
  padding-right: 20px;
  border-left: 0;
  margin-left: -55px;
}
#menu .menu-list-title a {
  text-decoration: none;
  color: #373a40;
}
#menu .menu-list {
  margin-top: 30px;
  margin-left: -40px;
  width: 40rem;
}
#menu .menu-list p {
  border-style: solid;
  font-size: 28px;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-width: 2px;
  padding: 0 0 30px 20px;
}
#menu .menu-list .first-line {
  border-style: solid;
  border-width: 1px;
}

#menu .drag-menu {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  object-fit: cover;
  height: 28rem;
}

#menu .drag-menu img.slide {
  height: 34rem;
  width: 100%;
  transition: 0.5s;
  margin-right: 12px;
  object-fit: cover;
  display: block;
}

#menu button.prev,
button.next {
  height: 30px;
  width: 80px;
  border-radius: 100%;
  box-shadow: none;
  border-width: 1px;
  background-color: #dc5f00;
  border: 0;
  color: #eeee;
  margin: 198px 10px 0 12px;
  cursor: pointer;
  font-size: 12px;
}
.slider {
  display: flex;
  margin: 100px 85px 200px 85px;
}
/* history */

#history {
  height: 100vh;
  margin: 30px 43px 58px 43px;
  padding-top: 140px;
}
#history .image-history {
  height: 90vh;
  width: 40vw;
}
#history .image-history img {
  width: 35vw;
  height: 65vh;
  object-fit: cover;
  margin: 10px 0 0 85px;
  position: relative;
}
#history .image-history .desc-history {
  margin: 10px 0 0 85px;
}
#history .desc-history h3 {
  color: #dc5f00;
}
#history .year {
  margin-left: 700px;
  margin-top: -790px;
}
#history .year li {
  list-style: none;
}
#history .year a {
  text-decoration: none;
  color: #373a40;
  font-size: 8rem;
  font-weight: 200;
  padding-left: 140px;
  margin-top: 0;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: #373a40;
}
h2.title-history {
  margin-left: 75rem;
  color: #373a40;
}
#history .year a:hover {
  color: #dc5f00;
  border-color: #dc5f00;
}

@media (max-width: 768px) {
  #header {
    width: 90%;
  }
  #content {
    height: 95vh;
  }
  .text-1 h3 {
    padding-top: 70px;
    margin-bottom: 0;
    font-size: 1rem;
    margin-left: 28px;
  }
  .text-2 h3 {
    margin-left: 640px;
    font-size: 1rem;
    margin-top: -21px;
  }
  .text-3 h3 {
    margin-top: 380px;
    margin-left: -80px;
    font-size: 1rem;
  }
  .text-4 h3 {
    margin-left: 670px;
    margin-top: -50px;
    font-size: 1rem;
  }

  .image {
    margin-left: 20px;
  }
  .image-1 {
    margin-top: 100px;
    margin-left: 120px;
  }
  .image-1 img {
    height: 48vh;
    width: auto;
  }
  .image-2 {
    margin-left: 420px;
    margin-top: -395px;
  }
  .image-2 img {
    height: 15vh;
    width: auto;
  }
  .image-3 {
    margin-top: -92px;
    margin-left: 563px;
  }
  .image-3 img {
    width: auto;
    height: 10vh;
  }
  .image-1 h1 {
    margin-top: -400px;
    margin-left: -90px;
    font-size: 9vh;
  }
  .image-1 h2 {
    margin-left: 200px;
    font-size: 10vh;
  }

  .image-1 .circle img {
    height: 12vh;
    margin-top: -50px;
    margin-left: 400px;
  }
  .image-1 h3 {
    margin-left: 40px;
    margin-top: -120px;
    font-size: 3vh;
  }

  /* About */
  #about-us {
    height: 100vh;
  }
  #about-us .description-about {
    padding: 20px 100px 38px 100px;
  }
  #about-us .description-about p {
    font-size: 18px;
    word-spacing: 3px;
  }
}
/* @media (max-width: 488px) {
  #content {
    height: 95vh;
  }
  .text-1 h3 {
    padding-top: 70px;
    margin-bottom: 0;
    font-size: 10px;
    margin-left: 28px;
  }
  .text-2 h3 {
    margin-left: 380px;
    font-size: 10px;
    margin-top: -15px;
  }
  .text-3 h3 {
    margin-top: 380px;
    margin-left: -200px;
    font-size: 10px;
    background-color: black;
  }
  .text-4 h3 {
    margin-left: 1px;
    margin-top: -50px;
    font-size: 10px;
  }

  .image {
    margin-left: 1px;
  }
  .image-1 {
    margin-top: 100px;
    margin-left: 50px;
  }
  .image-1 img {
    height: 48vh;
    width: auto;
  }
  .image-2 {
    margin-left: 330px;
    margin-top: 1px;
  }
  .image-2 img {
    height: 15vh;
    width: auto;
  }
  .image-3 {
    margin-top: -92px;
    margin-left: 100px;
  }
  .image-3 img {
    width: auto;
    height: 10vh;
  }
  .image-1 h1 {
    margin-top: -400px;
    margin-left: -90px;
    font-size: 6vh;
  }
  .image-1 h2 {
    margin-left: 200px;
    font-size: 6vh;
  }

  .image-1 .circle img {
    height: 12vh;
    margin-top: -50px;
    margin-left: 200px;
  }
  .image-1 h3 {
    margin-left: 40px;
    margin-top: -120px;
    font-size: 2vh;
  }
/* }  */
