@import url("https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap");
html {
  scroll-behavior: smooth;
  background-color: #eeee;
}
body {
  font-family: "Sedan", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-color: #eeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 60px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  left: 0;
  top: 0;
  position: sticky;
  margin-bottom: 20px;
}
#navbar {
  display: flex;
  height: 5vh;
  align-items: center;
  position: relative;
  left: 300px;
}
#navbar li {
  position: relative;
  padding: 0 1px;
  list-style: none;
}
#navbar li a {
  text-decoration: none;
  color: #373a40;
  padding: 0 50px;
  font-size: 14px;
  font-weight: 400;
  transition: 0.3s ease;
}

#navbar li a:hover {
  color: #dc5f00;
  transition: 0.1s ease;
  font-size: 16px;
}
/* .sidebar-bar {
  position: fixed;
} */
#sidebar i {
  color: #373a40;
  display: none;
}
#x {
  display: none;
}
.Logo a {
  text-decoration: none;
  color: #373a40;
}

#content {
  margin-top: -18px;
  background-image: url("background/Backgroun.jpg");
  background-size: cover;
  height: 120vh;
  position: relative;
  bottom: 100px;
}
#content .hero {
  padding-top: 40px;
}

.text-1 h3 {
  color: #eeee;
  margin-left: 110px;
  padding-top: 70px;
  margin-bottom: 0;
}
.text-2 h3 {
  color: #eeee;
  margin-left: 1300px;
  margin-top: -25px;
}
.text-3 h3 {
  color: #eeee;
  margin-top: 420px;
  padding-left: 110px;
}
.text-4 h3 {
  color: #eeee;
  margin-left: 1325px;
  margin-top: -50px;
}

.image {
  margin-left: 80px;
}
.image-1 {
  margin-top: 100px;
  margin-left: 280px;
}
.image-1 img {
  height: 70vh;
  width: auto;
}
.image-2 {
  margin-left: 720px;
  margin-top: -512px;
}
.image-2 img {
  height: 30vh;
  width: auto;
}
.image-3 {
  margin-top: -118px;
  margin-left: 999px;
}
.image-3 img {
  width: auto;
  height: 13vh;
}
.image-1 h1 {
  margin-top: -605px;
  margin-left: -150px;
  font-size: 14vh;
  color: #eeee;
  font-weight: 100;
}
.image-1 h2 {
  margin-left: 300px;
  font-size: 15vh;
  color: #eeee;
  font-weight: 100;
}

.image-1 .circle img {
  height: 15vh;
  margin-top: -180px;
  margin-left: 650px;
}
.image-1 .circle a:hover {
  filter: brightness(85%);
}
.image-1 h3 {
  color: #eeee;
  margin-left: 430px;
  font-weight: 100;
  margin-top: -120px;
  font-size: 3vh;
}

/* about section */
#about-us .abt-txt {
  height: 78px;
  align-content: center;
  margin-left: 40px;
  margin-top: -100px;
}

#about-us .abt-txt p {
  font-size: large;
}

#about-us .Banner-About {
  overflow-x: hidden;
}
#about-us .Banner-About .banner-wrap {
  display: flex;
  width: 500%;
}
#about-us .Banner-About img {
  height: 40vh;
  width: 100%;
  object-fit: cover;
  animation: slide 10s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}
#about-us .description-about {
  padding: 30px 200px 38px 200px;
}
#about-us .description-about p {
  font-size: 25px;
  word-spacing: 8px;
  text-align: center;
}
#about-us .line {
  background-color: black;
  height: 1px;
  margin-top: 4rem;
}

/* Menu */
#menu {
  height: 150vh;
  padding-top: 20px;
}
#menu .menu-title {
  font-size: 70px;
  margin-left: 8rem;
  margin-top: 5rem;
}
#menu .see-all {
  margin-left: 45rem;
  margin-top: -120px;
  font-size: 15px;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  text-align: center;
  width: 70px;
  height: 30px;
}
#menu .see-all a {
  text-decoration: none;
  color: #373a40;
  font-size: 11px;
  background-color: #eeee;
}
#menu .see-all:hover {
  background-color: #dc5f00;
  border-color: #eeee;
}
#menu .see-all a:hover {
  color: #eeee;
}
#menu .menu-list-title {
  padding-left: 12rem;
  margin-top: -40rem;
}
#menu .menu-list {
  padding-left: 12rem;
}
#menu .menu-image {
  margin-left: 850px;
}
#menu .menu-image img {
  width: 80%;
  height: 80vh;
  margin-top: -50px;
}
#menu .menu-list-title span {
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  border-bottom: 0;
  margin-right: 65px;
  padding-right: 20px;
  border-left: 0;
  margin-left: -55px;
}
#menu .menu-list-title a {
  text-decoration: none;
  color: #373a40;
}
#menu .menu-list {
  margin-top: 30px;
  margin-left: -40px;
  width: 40rem;
}
#menu .menu-list p {
  border-style: solid;
  font-size: 28px;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-width: 2px;
  padding: 0 0 30px 20px;
}
#menu .menu-list .first-line {
  border-style: solid;
  border-width: 1px;
}

#menu .drag-menu {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  object-fit: cover;
  height: 28rem;
}

#menu .drag-menu img.slide {
  height: 34rem;
  width: 100%;
  transition: 0.5s;
  margin-right: 12px;
  object-fit: cover;
  display: block;
}

#menu button.prev,
button.next {
  height: 30px;
  width: 80px;
  border-radius: 100%;
  box-shadow: none;
  border-width: 1px;
  background-color: #dc5f00;
  border: 0;
  color: #eeee;
  margin: 198px 10px 0 12px;
  cursor: pointer;
  font-size: 12px;
}
.slider {
  display: flex;
  margin: 100px 85px 200px 85px;
}
/* history */

#history {
  height: 100vh;
  margin: 30px 45px 58px 50px;
  padding-top: 140px;
}
#history .image-history {
  height: 90vh;
  width: 40vw;
}
#history .image-history img {
  width: 35vw;
  height: 65vh;
  object-fit: cover;
  margin: 10px 0 0 85px;
  position: relative;
}
#history .image-history .desc-history {
  margin: 10px 0 0 85px;
}
#history .desc-history h3 {
  color: #dc5f00;
}
#history .year {
  margin-left: 730px;
  margin-top: -790px;
}
#history .year li {
  list-style: none;
}
#history .year a {
  text-decoration: none;
  color: #373a40;
  font-size: 8rem;
  font-weight: 200;
  padding-left: 140px;
  margin-top: 0;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: #373a40;
}
h2.title-history {
  margin-left: 75rem;
  color: #373a40;
}
#history .year a:hover {
  color: #dc5f00;
  border-color: #dc5f00;
}

/* Events section */
#Events {
  height: 120vh;
  position: relative;
  margin-top: 100px;
  padding-top: 50px;
  overflow: hidden;
}
#Events p {
  font-size: 20px;
  position: relative;
  left: 128px;
  top: 25px;
}
#Events ul {
  list-style: none;
  position: relative;
  left: 65rem;
}
#Events li {
  display: inline-block;
  align-items: flex-end;
}
#Events .list a {
  border-style: solid;
  border-radius: 20px;
  text-decoration: none;
  padding: 5px 20px 5px 20px;
  border-color: #373a40;
  color: #373a40;
  border-width: 1px;
}
#Events .list a:hover {
  background-color: #dc5f00;
  color: #eeee;
  border-color: #eeee;
}
#Events .events-image-1 {
  height: 51vh;
  width: 29vw;
  position: relative;
  left: 8rem;
  top: 4px;
}
#Events .events-image-1 img {
  width: 28vw;
  height: 50vh;
  object-fit: cover;
}
#Events .events-image-1 a.txt1 {
  position: absolute;
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  background-color: #eeee;
  font-weight: bold;
  color: #373a40;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  left: 31px;
  top: 20px;
}
#Events .events-image-1 a.icon1 {
  position: absolute;
  padding: 5px 15px;
  border: none;
  border-radius: 100%;
  background-color: #eeee;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  left: 375px;
  top: 18px;
  font-size: 18px;
  padding: 5px 8px 5px 8px;
  color: #373a40;
}

#Events .events-image-2 {
  height: 51vh;
  width: 29vw;
  position: relative;
  left: 36rem;
  bottom: 27.5rem;
}
#Events .events-image-2 img {
  width: 54vw;
  height: 50vh;
  object-fit: cover;
}
#Events .events-image-2 a.txt2 {
  position: absolute;
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  background-color: #eeee;
  font-weight: bold;
  color: #373a40;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  left: 31px;
  top: 20px;
}
#Events .events-image-2 a.icon2 {
  position: absolute;
  padding: 5px 15px;
  border: none;
  border-radius: 100%;
  background-color: #eeee;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  left: 775px;
  top: 18px;
  font-size: 18px;
  padding: 5px 8px 5px 8px;
  color: #373a40;
}
#Events .events-image-3 {
  height: 51vh;
  width: 29vw;
  position: relative;
  left: 8rem;
  bottom: 26.8rem;
}
#Events .events-image-3 img {
  width: 54vw;
  height: 50vh;
  object-fit: cover;
}
#Events .events-image-3 a.txt3 {
  position: absolute;
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  background-color: #eeee;
  font-weight: bold;
  color: #373a40;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  left: 31px;
  top: 20px;
}
#Events .events-image-3 a.icon3 {
  position: absolute;
  padding: 5px 15px;
  border: none;
  border-radius: 100%;
  background-color: #eeee;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  left: 775px;
  top: 18px;
  font-size: 18px;
  padding: 5px 8px 5px 8px;
  color: #373a40;
}
#Events .events-image-4 {
  height: 51vh;
  width: 29vw;
  position: relative;
  left: 61rem;
  bottom: 54.6rem;
}
#Events .events-image-4 img {
  width: 28vw;
  height: 50vh;
  object-fit: cover;
}
#Events .events-image-4 a.txt4 {
  position: absolute;
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  background-color: #eeee;
  font-weight: bold;
  color: #373a40;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  left: 31px;
  top: 20px;
}
#Events .events-image-4 a.icon4 {
  position: absolute;
  padding: 5px 15px;
  border: none;
  border-radius: 100%;
  background-color: #eeee;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  left: 375px;
  top: 18px;
  font-size: 18px;
  padding: 5px 8px 5px 8px;
  color: #373a40;
}
#Events .events-image a:hover {
  color: #eeee;
  background-color: #dc5f00;
  border-color: #eeee;
}

/* footer section */
footer {
  margin-top: 50px;
  height: 35vh;
  background-color: #373a40;
  position: relative;
  /* overflow: hidden; */
}
footer .brand {
  position: absolute;
  left: 120px;
  top: 20px;
}
footer .brand h1 {
  font-size: 50px;
  color: #eeee;
  font-weight: 100;
}
footer .content {
  position: absolute;
  left: 28rem;
  bottom: 85px;
}
footer .content li {
  list-style: none;
  padding-bottom: 10px;
}
footer .content li a {
  color: #eee;
  font-size: 100;
}
footer .content li a:hover {
  color: #b8b7b7;
}
footer .contact {
  position: absolute;
  right: 26rem;
  top: 56px;
}
footer .contact li {
  padding-bottom: 10px;
  list-style: none;
}

footer .contact a {
  color: #eee;
  cursor: pointer;
  font-size: 100;
}
footer .contact li a:hover {
  color: #b8b7b7;
}
footer .copyright {
  position: absolute;
  top: 230px;
  left: 120px;
  border-style: solid;
  width: 85vw;
  border-left: 0;
  border-right: 0;
  border-color: #eee;
  border-width: 1px;
}
footer .copyright p {
  color: #eee;
}
@media (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  #header {
    width: 100%;
    height: 8vh;
    margin-bottom: 20px;
    left: 200px;
    position: sticky;
  }
  #navbar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    left: 175%;
    top: 53px;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 10px 0 0 10px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateX(-100%);
  }
  #navbar.active {
    display: block;
    transform: translateX(0);
    opacity: 1;
  }
  #navbar li {
    padding-bottom: 10px;
    margin-top: 10px;
  }
  #sidebar {
    display: flex;
    align-items: center;
  }
  #sidebar i {
    color: #373a40;
    font-size: 22px;
    margin-left: -125px;
    cursor: pointer;
    display: flex;
  }
  #sidebar i:hover {
    color: #dc5f00;
  }
  #x {
    display: initial;
    cursor: pointer;
    position: fixed;
    font-size: 25px;
    left: 130px;
    margin-bottom: 30px;
  }
  #x:hover {
    color: #dc5f00;
  }
  #content {
    height: 95vh;
  }
  .text-1 h3 {
    padding-top: 70px;
    margin-bottom: 0;
    font-size: 1rem;
    margin-left: 28px;
  }
  .text-2 h3 {
    margin-left: 640px;
    font-size: 1rem;
    margin-top: -21px;
  }
  .text-3 h3 {
    margin-top: 380px;
    margin-left: -80px;
    font-size: 1rem;
  }
  .text-4 h3 {
    margin-left: 670px;
    margin-top: -50px;
    font-size: 1rem;
  }

  .image {
    margin-left: 20px;
  }
  .image-1 {
    margin-top: 100px;
    margin-left: 120px;
  }
  .image-1 img {
    height: 48vh;
    width: auto;
  }
  .image-2 {
    margin-left: 420px;
    margin-top: -395px;
  }
  .image-2 img {
    height: 15vh;
    width: auto;
  }
  .image-3 {
    margin-top: -92px;
    margin-left: 563px;
  }
  .image-3 img {
    width: auto;
    height: 10vh;
  }
  .image-1 h1 {
    margin-top: -400px;
    margin-left: -90px;
    font-size: 9vh;
  }
  .image-1 h2 {
    margin-left: 200px;
    font-size: 10vh;
  }

  .image-1 .circle img {
    height: 12vh;
    margin-top: -50px;
    margin-left: 400px;
  }
  .image-1 h3 {
    margin-left: 40px;
    margin-top: -120px;
    font-size: 3vh;
  }

  /* About */
  #about-us {
    height: 100vh;
  }
  #about-us .description-about {
    padding: 20px 100px 38px 100px;
  }
  #about-us .description-about p {
    font-size: 18px;
    word-spacing: 3px;
  }
  #menu {
    height: 150vh;
    padding-top: 20px;
  }
  #menu .menu-title {
    font-size: 40px;
    position: relative;
    bottom: 50px;
    right: 80px;
  }
  #menu .see-all {
    position: relative;
    right: 100px;
    bottom: 10px;
  }
  #menu .menu-list-title {
    position: relative;
    top: 46rem;
    left: 50px;
  }
  #menu .menu-list {
    position: relative;
    top: 47rem;
    right: 100px;
    margin-bottom: 80rem;
  }
  #menu .menu-image {
    margin-left: 100px;
  }
  #menu .menu-image img {
    width: 70vw;
    height: 40vh;
    position: relative;
    top: 5rem;
    object-fit: cover;
  }

  #menu .menu-list-title a {
    text-decoration: none;
    color: #373a40;
  }
  #menu .menu-list {
    margin-top: 2px;
    margin-left: -40px;
    width: 40rem;
  }
  #menu .menu-list p {
    border-style: solid;
    font-size: 20px;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-width: 2px;
    padding: 0 10px 15px 50px;
    width: 25rem;
    position: relative;
    left: 80px;
  }
  #menu .menu-list .first-line {
    border-style: solid;
    border-width: 1px;
    width: 28.5rem;
    position: relative;
    left: 80px;
  }
  #menu .drag-menu {
    position: relative;
    bottom: 32rem;
  }

  #menu .drag-menu img.slide {
    height: 20rem;
    width: 100%;
  }

  #menu button.prev,
  button.next {
    height: 30px;
    width: 120px;
    border-radius: 100%;
    box-shadow: none;
    border-width: 1px;
    background-color: #dc5f00;
    border: 0;
    color: #eeee;
    margin: -300px 10px 0 12px;
    cursor: pointer;
    font-size: 12px;
  }
  .slider {
    margin: 30px 85px 200px 85px;
  }

  /* history */
  #history {
    height: 80vh;
    margin: 30px 0px 58px 0px;
    padding-top: 140px;
  }
  #history .image-history {
    height: 90vh;
    width: 90vw;
  }
  #history .image-history img {
    width: 41vw;
    height: 55vh;
  }
  #history .image-history .desc-history {
    margin: 50px 0 0 85px;
  }
  #history .desc-history h3 {
    color: #dc5f00;
  }
  #history .year {
    position: relative;
    right: 310px;
  }
  #history .year a {
    text-decoration: none;
    color: #373a40;
    font-size: 5rem;
    font-weight: 200;
    padding-left: 50px;
    margin-top: 200px;
    border-style: solid;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: #373a40;
  }
  h2.title-history {
    margin-left: 33rem;
    color: #373a40;
  }

  /* Events section */
  #Events {
    margin-left: -78px;
    height: 90vh;
  }

  #Events ul {
    list-style: none;
    position: relative;
    left: 29rem;
    bottom: 15px;
  }
  #Events .events-image-1 {
    height: 20vh;
    width: 100%;
    position: relative;
    left: 9rem;
    top: 4px;
    margin-right: 200px;
    margin-bottom: 200px;
  }
  #Events .events-image-1 img {
    width: 38vw;
    height: 37vh;
    object-fit: cover;
  }
  #Events .events-image-1 a.icon1 {
    left: 235px;
  }

  #Events .events-image-2 {
    height: 51vh;
    width: 29vw;
    position: relative;
    left: 28rem;
    bottom: 23.2rem;
  }
  #Events .events-image-2 img {
    width: 42vw;
    height: 37vh;
    object-fit: cover;
  }
  #Events .events-image-2 a.icon2 {
    left: 270px;
  }
  #Events .events-image-3 {
    height: 51vh;
    width: 29vw;
    position: relative;
    left: 9rem;
    bottom: 30rem;
  }
  #Events .events-image-3 img {
    width: 42vw;
    height: 37vh;
    object-fit: cover;
  }
  #Events .events-image-3 a.icon3 {
    left: 265px;
  }
  #Events .events-image-4 {
    height: 20vh;
    width: 100%;
    position: relative;
    left: 30rem;
    bottom: 57.9rem;
    margin-right: 200px;
    margin-bottom: 200px;
  }
  #Events .events-image-4 img {
    width: 38vw;
    height: 37vh;
  }
  #Events .events-image-4 a.icon4 {
    left: 230px;
  }
  /* footer section */
  footer .brand {
    position: absolute;
    left: 50px;
    top: 20px;
  }
  footer .content {
    left: 15rem;
    top: 45px;
  }
  footer .content li {
    list-style: none;
    padding-bottom: 10px;
  }
  footer .contact {
    position: absolute;
    right: 3rem;
    top: 56px;
  }
  footer .copyright {
    position: absolute;
    top: 230px;
    left: 50px;
    border-style: solid;
    width: 85vw;
    border-left: 0;
    border-right: 0;
    border-color: #eee;
    border-width: 1px;
  }
  footer .copyright p {
    color: #eee;
  }
}

@media (max-width: 488px) {
  body {
    overflow-x: hidden;
  }
  #header {
    width: 100%;
    height: 8vh;
    margin-bottom: 20px;
    position: fixed;
    left: 0px;
  }
  #navbar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    left: 580px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 30px 0 0px 0px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateX(-100%);
    margin-top: -20px;
  }
  #navbar.active {
    display: block;
    transform: translateX(0);
    opacity: 1;
  }
  #navbar li {
    padding-bottom: 25px;
    margin-top: 10px;
  }
  #navbar li a {
    font-size: 15px;
  }
  #sidebar {
    display: flex;
    align-items: center;
    position: relative;
    left: 0px;
    z-index: -1;
  }
  #sidebar i {
    color: #373a40;
    font-size: 22px;
    cursor: pointer;
    display: flex;
  }
  #sidebar i:hover {
    color: #dc5f00;
  }
  #navbar li #x {
    cursor: pointer;
    position: fixed;
    font-size: 25px;
    padding-bottom: 25px;
    left: 20px;
  }
  #x:hover {
    color: #dc5f00;
  }
  #content {
    height: 100%;
    margin-top: 60px;
  }
  .text-1 h3 {
    margin-bottom: 0;
    font-size: 10px;
    position: relative;
    top: 30px;
  }
  .text-2 h3 {
    right: 335px;
    font-size: 10px;
    position: relative;
    top: 38px;
  }
  .text-3 h3 {
    position: relative;
    font-size: 10px;
    bottom: 50px;
  }
  .text-4 h3 {
    position: relative;
    font-size: 10px;
    bottom: 38px;
    right: 355px;
  }

  .image {
    margin-left: -1px;
  }
  .image-1 {
    margin-top: 100px;
    margin-left: 50px;
  }
  .image-1 img {
    height: 35vh;
    width: auto;
  }
  .image-2 {
    position: relative;
    right: 150px;
    top: 373px;
  }
  .image-2 img {
    height: 12vh;
    width: auto;
  }
  .image-3 {
    position: relative;
    top: 467px;
    right: 290px;
  }
  .image-3 img {
    width: auto;
    height: 6vh;
  }
  .image-1 h1 {
    position: relative;
    font-size: 4vh;
    left: 50px;
    top: 100px;
  }
  .image-1 h2 {
    position: relative;
    font-size: 4vh;
    top: 200px;
    right: 25px;
  }

  .image-1 .circle img {
    height: 5vh;
    position: relative;
    top: 280px;
    right: 150px;
  }
  .image-1 h3 {
    position: relative;
    top: 290px;
    left: 180px;
    font-size: 2vh;
  }

  /* about Us */
  #about-us .description-about {
    padding: 30px 20px 38px 20px;
  }
  #about-us .description-about p {
    font-size: 14px;
    word-spacing: 2px;
    text-align: center;
  }
  #about-us .Banner-About img {
    height: 40vh;
    width: 100%;
    object-fit: cover;
    animation: slide 10s infinite;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-100%);
    }
    40% {
      transform: translateX(-100%);
    }
    60% {
      transform: translateX(-200%);
    }
    80% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
  }
  #menu {
    height: 100%;
    padding-top: 20px;
    position: relative;
    right: 30px;
    top: 50px;
  }
  #menu .menu-title {
    font-size: 40px;
    position: relative;
    bottom: 50px;
    right: 80px;
  }
  #menu .see-all {
    position: relative;
    right: 400px;
    bottom: 10px;
  }
  #menu .menu-list-title {
    position: relative;
    top: 46rem;
    left: -80px;
    width: 500px;
  }
  #menu .menu-list {
    position: relative;
    top: 47rem;
    right: 180px;
    margin-bottom: 80rem;
  }
  #menu .menu-image {
    margin-left: 90px;
  }

  #menu .menu-list-title a {
    text-decoration: none;
    color: #373a40;
  }
  #menu .menu-list {
    margin-top: 2px;
    margin-left: -40px;
    width: 40rem;
  }
  #menu .menu-list p {
    border-style: solid;
    font-size: 18px;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-width: 2px;
    padding: 0 10px 15px 50px;
    max-width: 17rem;
    position: relative;
  }
  #menu .menu-list .first-line {
    border-style: solid;
    border-width: 1px;
    width: 20.5rem;
    position: relative;
    left: 80px;
  }
  #menu .drag-menu {
    position: relative;
    bottom: 32rem;
    left: 25px;
  }

  #menu .drag-menu img.slide {
    height: 20rem;
    width: 100%;
    position: relative;
  }
  .slider {
    margin: 30px 0px 200px 10px;
  }
  #menu button.prev {
    position: relative;
    left: 25px;
  }
  #menu button.next {
    position: relative;
    left: 23px;
  }
  /* history */

  #history {
    height: 100%;
    margin: 0px 0 58px 0;
    padding-top: 140px;
    position: relative;
    bottom: 800px;
    right: 10px;
  }
  #history .image-history {
    height: 77vh;
    width: 40vw;
  }
  #history .image-history img {
    width: 80vw;
    height: 35vh;
    object-fit: cover;
    margin: 10px 0 0 85px;
    position: relative;
    right: 35px;
  }
  #history .image-history .desc-history {
    margin: 10px 100px 0 55px;
  }
  #history .desc-history h3 {
    color: #dc5f00;
    width: 310px;
  }
  #history .desc-history p {
    width: 70px;
  }
  #history .year {
    position: relative;
    right: 570px;
    top: 680px;
  }
  #history .year li {
    list-style: none;
  }
  #history .year a {
    font-size: 3rem;
    font-weight: 200;
    padding-left: 30px;
    margin-top: 0;
    border-style: solid;
    border-right: 0;
    border-bottom: 0;
  }
  h2.title-history {
    margin-left: 14rem;
  }
  /* Events section */
  #Events {
    height: 150vh;
    position: relative;
    margin-top: 100px;
    padding-top: 50px;
    overflow: hidden;
    margin-left: -100px;
    margin-right: 30px;
    bottom: 100px;
  }
  #Events p {
    font-size: 20px;
    position: relative;
    left: 128px;
    top: 25px;
  }
  #Events ul {
    list-style: none;
    position: relative;
    left: 15.8rem;
    top: 2px;
  }
  #Events li {
    display: inline-block;
    align-items: flex-end;
  }
  #Events .list a {
    padding: 5px 10px 5px 10px;
    font-size: 10px;
  }
  #Events .events-image-1 {
    height: 51vh;
    width: 29vw;
    position: relative;
    left: 8rem;
    top: 4px;
    padding-bottom: 50px;
  }
  #Events .events-image-1 img {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
  }
  #Events .events-image-1 a.icon1 {
    margin-left: 35px;
  }
  #Events .events-image-2 {
    height: 51vh;
    width: 29vw;
    position: relative;
    left: 8rem;
    bottom: 23rem;
    padding-bottom: 50px;
  }
  #Events .events-image-2 img {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
  }
  #Events .events-image-2 a.icon2 {
    margin-left: 0px;
  }
  #Events .events-image-3 {
    height: 51vh;
    width: 29vw;
    position: relative;
    left: 8rem;
    bottom: 33.7rem;
    padding-bottom: 50px;
  }
  #Events .events-image-3 img {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
  }
  #Events .events-image-3 a.icon3 {
    margin-left: 0px;
  }
  #Events .events-image-4 {
    height: 51vh;
    width: 29vw;
    position: relative;
    left: 8rem;
    bottom: 44.4rem;
    padding-bottom: 50px;
  }
  #Events .events-image-4 img {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
  }
  #Events .events-image-4 a.icon4 {
    margin-left: 38px;
  }
  /* footer section */
  footer {
    height: 44vh;
    background-color: #373a40;
    position: relative;
    overflow-x: hidden;
  }
  footer .brand {
    position: absolute;
    left: 30px;
    top: 0px;
  }
  footer .brand h1 {
    font-size: 25px;
    color: #eeee;
    font-weight: 100;
  }
  footer .content {
    position: absolute;
    left: 16rem;
    bottom: 145px;
  }
  footer .content li {
    list-style: none;
    padding-bottom: 10px;
    font-size: 10px;
  }
  footer .contact {
    position: absolute;
    right: 11rem;
    top: 130px;
  }
  footer .contact li {
    padding-bottom: 5px;
    list-style: none;
  }

  footer .contact a {
    color: #eee;
    cursor: pointer;
    font-size: 10px;
  }
  footer .copyright {
    top: 260px;
    left: 28px;
  }
  footer .copyright p {
    color: #eee;
    font-size: 6px;
  }
}
